h4{
	text-align: center;
}
p{
	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
}
img{
	float: left;
	padding: 15px;
	height: 100px;
	padding-bottom: 5px;
}
body{
	border: outset;
}