.menu{
			background: #eee685;
			font-family: "Trebuchet MS", Helvetica, sans-serif;
			font-size: 18px;
			padding: 10px;
		}
		a:link{
			color: #b9c941;
			text-decoration: none;
		}
		a:visited{
			color: #458b00;
		}
		a:hover{
			color: red;
			background-color: blue;
		}
		a:active{
			color: #ff1493;
		}